<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               monitorInterval="60">

    <Properties>
        <Property name="LOG_HOME">${log.service_bootstrap.path}</Property>
        <Property name="LOG_LEVEL">debug</Property>
        <Property name="infoHistory">240</Property>
        <Property name="errorHistory">10</Property>
        <Property name="monitorHistory">10</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>

        <Appender name="STDOUT" type="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug"
                             onMatch="ACCEPT" onMismatch="DENY"/>
            <Layout type="PatternLayout"
                    pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %X{request_id} %thread %-5level %c{1} - %m%n"/>
        </Appender>

        <Appender name="FILE" type="RollingRandomAccessFile"
                  fileName="${LOG_HOME}/dubbo.log"
                  filePattern="${LOG_HOME}/$${date:yyyy_MM_dd}/live_service_bootstrap_info.log.%d{yyyy-MM-dd-HH}">
            <ThresholdFilter level="debug"
                             onMatch="ACCEPT" onMismatch="DENY"/>
            <Layout type="PatternLayout"
                    pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %X{request_id} %thread %-5level %c{1} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </Appender>
        <Appender name="asyncFile" type="Async">
            <AppenderRef ref="FILE"/>
            <includeLocation>true</includeLocation>
        </Appender>
        <Appender name="ERROR_FILE" type="RollingRandomAccessFile"
                  fileName="${LOG_HOME}/dubbo.log"
                  filePattern="${LOG_HOME}/$${date:yyyy_MM_dd}/live_service_bootstrap_error.log.%d{yyyy-MM-dd}">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <Layout type="PatternLayout"
                    pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %X{request_id} %thread %-5level %c{1} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </Appender>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="asyncFile"/>
            <AppenderRef ref="ERROR_FILE"/>
            <AppenderRef ref="STDOUT"/>
        </Root>


    </Loggers>

</Configuration>
